Importar librerias

In [29]:
import pandas as pd

Leer .csv desde la url con pandas: [www.football-data.com.uk/data.php](https://www.football-data.co.uk/data.php)

In [30]:
df_PL = pd.read_csv('https://www.football-data.co.uk/mmz4281/2324/E0.csv')

In [31]:
df_PL

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,E0,02/03/2024,15:00,Nott'm Forest,Liverpool,0,1,A,0,0,...,2.54,1.00,1.90,2.00,1.92,2.01,1.95,2.09,1.89,1.98
263,E0,02/03/2024,15:00,Tottenham,Crystal Palace,3,1,H,0,0,...,2.62,-1.00,1.87,2.03,1.88,2.04,1.91,2.06,1.86,2.02
264,E0,02/03/2024,17:30,Luton,Aston Villa,2,3,A,0,2,...,2.74,0.75,2.02,1.88,2.04,1.89,2.06,1.91,2.00,1.86
265,E0,03/03/2024,13:00,Burnley,Bournemouth,0,2,A,0,1,...,2.23,0.50,1.90,2.00,1.93,2.00,1.93,2.05,1.88,2.00
266,E0,03/03/2024,15:30,Man City,Man United,3,1,H,0,1,...,3.17,-1.75,1.98,1.95,1.88,2.05,2.02,2.05,1.89,1.97

Estructura: https://www.football-data.co.uk/mmz4281/ "Temporada" / "Nombre Liga".csv
          https://www.football-data.co.uk/mmz4281/2324/E0.csv

https://www.football-data.co.uk/mmz4281/"+"2324"/"+"E0" +".cvs"

In [32]:
"https://www.football-data.co.uk/mmz4281/" + "2324" + "/" + "E0" + ".csv"

'https://www.football-data.co.uk/mmz4281/2324/E0.csv'

Link raiz

In [39]:
root = "https://www.football-data.co.uk/mmz4281/"

lista de ligas

In [40]:
leagues = ['E0','E1','E2','E3','EC']

#bucle for
for league in leagues:
    df = pd.read_csv(root + '2324' + '/' + league + '.csv' )

In [41]:
df.describe

<bound method NDFrame.describe of     Div        Date   Time      HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  \
0    EC  05/08/2023  15:00     Aldershot   Oxford City     5     2   H     3
1    EC  05/08/2023  15:00    Altrincham   Dag and Red     1     1   D     0
2    EC  05/08/2023  15:00        Barnet    Hartlepool     3     2   H     1
3    EC  05/08/2023  15:00  Chesterfield       Dorking     4     3   H     1
4    EC  05/08/2023  15:00     Gateshead  Boreham Wood     2     2   D     2
..   ..         ...    ...           ...           ...   ...   ...  ..   ...
426  EC  02/03/2024  15:00         Fylde    Maidenhead     4     1   H     1
427  EC  02/03/2024  15:00    Hartlepool        Barnet     1     2   A     0
428  EC  02/03/2024  15:00        Oldham      Southend     1     1   D     0
429  EC  02/03/2024  15:00   Oxford City     Aldershot     1     2   A     1
430  EC  02/03/2024  15:00          York    Wealdstone     2     3   A     1

     HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  MaxCAHH  \
0       1  ...     2.13 -0.75      2.00      1.80   2.06   1.79     2.08
1       0  ...     1.94 -0.25      1.68      2.15   1.75   2.12     1.96
2       0  ...     2.05 -0.25      1.80      2.00   1.87   1.99     1.87
3       1  ...     2.65 -2.00      1.88      1.93   1.98   1.86     1.98
4       0  ...     1.78 -0.50      1.88      1.93   1.93   1.93     1.93
..    ...  ...      ...   ...       ...       ...    ...    ...      ...
426     0  ...     2.06 -0.50      1.78      2.03   1.88   1.97     1.88
427     2  ...     2.24  0.50      1.83      1.98   1.83   2.03     1.92
428     0  ...     1.67  0.00      1.90      1.90   2.07   1.79     2.07
429     2  ...     2.70  1.00      1.90      1.90   1.94   1.91     1.97
430     1  ...     2.10 -1.00      2.05      1.75   2.13   1.74     2.13

     MaxCAHA  AvgCAHH  AvgCAHA
0       1.85     1.99     1.77
1       2.19     1.73     2.05
2       2.04     1.81     1.94
3       1.93     1.90     1.84
4       1.99     1.86     1.89
..       ...      ...      ...
426     2.11     1.77     1.99
427     2.03     1.82     1.94
428     1.90     1.97     1.80
429     1.92     1.89     1.86
430     1.81     2.00     1.77

[431 rows x 98 columns]>

In [44]:
leagues = ['E0','E1','E2','E3','EC']
frames = []

#bucle for
for league in leagues:
    df = pd.read_csv(root + '2324' + '/' + league + '.csv' )
    frames.append(df)

In [45]:
len(frames)

5

In [46]:
frames[2]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,05/08/2023,15:00,Barnsley,Port Vale,7,0,H,2,0,...,1.75,-0.75,2.03,1.83,2.07,1.83,2.09,1.85,2.01,1.80
1,E2,05/08/2023,15:00,Blackpool,Burton,2,0,H,2,0,...,2.10,-0.75,1.93,1.93,1.94,1.94,1.96,1.97,1.88,1.91
2,E2,05/08/2023,15:00,Bolton,Lincoln,3,0,H,1,0,...,1.67,-0.75,2.00,1.85,2.01,1.88,2.02,1.92,1.96,1.84
3,E2,05/08/2023,15:00,Cambridge,Oxford,2,0,H,2,0,...,1.71,0.25,1.93,1.93,1.95,1.93,2.00,1.98,1.90,1.90
4,E2,05/08/2023,15:00,Carlisle,Fleetwood Town,1,1,D,1,1,...,1.62,-0.25,2.00,1.85,2.07,1.83,2.08,1.90,2.00,1.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,E2,02/03/2024,15:00,Northampton,Charlton,1,1,D,0,1,...,1.82,0.25,1.85,2.00,1.85,2.05,1.91,2.05,1.84,1.96
420,E2,02/03/2024,15:00,Peterboro,Exeter,2,1,H,1,1,...,2.31,-1.25,1.85,2.00,1.88,2.00,1.89,2.05,1.85,1.95
421,E2,02/03/2024,15:00,Portsmouth,Oxford,2,1,H,1,1,...,1.88,-0.75,1.98,1.88,1.97,1.92,2.02,1.97,1.91,1.89
422,E2,02/03/2024,15:00,Shrewsbury,Blackpool,0,2,A,0,1,...,1.74,0.50,2.03,1.78,2.08,1.81,2.12,1.90,2.00,1.80
423,E2,02/03/2024,15:00,Wycombe,Barnsley,2,4,A,1,1,...,1.95,0.00,1.80,2.05,1.83,2.07,1.85,2.09,1.79,2.01